
body {
  background: #cfd0d0;
  display: flex;

}

main {
  background-color: white;
  height: 400px;
  ;
  width: 600px;
  display: flex;
  margin: auto;
}

aside {
  width: 15rem;
  height: 15rem;
  background-color: red;
  border-radius: 999rem;
  display: flex;
  margin: auto;
}